$ColordeFondo: rgb(250,178,234);
$TipodeFuente: 'Cabin', sans-serif;
$color-letra: #af5faf;
$color-letra2: rgb(147,247,255);
$color-letra3: rgb(255,252,197);
$ColorContenedor: rgb(230,76,148);
$ColorContenedor2: rgb (255, 252,197);
$ColorBorde: rgb(255,252,197);
$mobile: 576px;
$tablet: 768px;